<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<body class="profile-page">
<div class="content-wrapper">

<main class="container mt-4">
  <h1>My Profile</h1>

<img 
  src="<%= '/uploads/' + (user.profileImage || 'default.png') %>"
  onerror="this.src='/uploads/default.png'"
  class="profile-img mb-3"
/>

<!-- upload -->
  <form action="/users/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="profileImage" class="form-control mb-2" required>
    <button class="btn btn-success">Upload</button>
  </form>

   <!-- delete -->
  <form action="/users/delete-pfp" method="POST" class="mt-2">
  <button class="btn btn-danger" onclick="return confirm('Delete your profile picture?')">Delete Profile Picture</button>
</form>
</main>

</div>
</body>

<%- include ../partials/footer.ejs %>
